@charset "UTF-8";

body {
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
}


.main-login {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background: url(midias/Design\ sem\ nome\ \(2\).png);
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 2px solid black; /*borda solida*/
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 320px;
    height: 350px;
    padding: 35px;
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login label {
    font-size: medium;
    color: black;
    margin-left: 5px;
}

.login input {
    margin-top: 25px;
    background-color: darkslategrey;
    padding-left: 10px;
    height: 30px;
    outline: none;
    border-radius: 20px;
    background: transparent;
}

input::placeholder {
    color: black;
    font-size: 13px;
}

form [type="submit"] {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0 15px;
    border: none;
    margin-top: 50px;
}

p {
    font-size: 15px;
    margin: 5px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

#principal {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 10px 0 15px;
}